.board table td {
    width: 58px;
    height: 58px;
    border: 1px dotted mediumvioletred;
    font-weight: 800;
    text-align: center;
}

.timer{
    text-align:center;
}

.score-board table thead{
    color: #c2c500;
    font-weight: 800;
}

.score-board table tbody{
    color: #56ff00b5;
}

.score-board table td{
    padding-left: 10px;
}

.timer{
    background: #7fb1b9;
}